*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position:relative;
}

.logo a {
    font-size: 50px;
    font-weight: 800;
    float:left;
    font-family: Courier;
    color:#DEAA79
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 30px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom: 1px solid #DEAA79;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
}

nav ul li {
    float: left;
}

nav ul li a {
    color:black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

setion {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
        margin-top: 50px;
        margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color:#DEAA79;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color:#DEAA79;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background:#9FB3DF;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color:#FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #DDA853;
    text-decoration: none;
}

a.tbl-pink{
    background:#DDA853;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color:#FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover{
    background:#9FB3DF;
    text-decoration: none;
}


p{
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah{
    text-align: center;
    width: 100%;
}

.tutors-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.kartu-tutors {
    width: 20%;
    margin: 0 auto;
}

.kartu-tutors img {
    width: 80%;
    border-radius: 50%;
}

.kartu-tutors p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #DEAA79;
}

.partners-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-partners {
    width: 20%;
    margin: 0 auto;
}

.kartu-partners img {
    width: 150px;
    border-radius: 50%;
}

#contact {
    background: #9FB3DF;
    padding:50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-setion {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family:'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #DEAA79;
    width: 100%;
    line-height: 50px;
}